[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gtts = "*"
langdetect = "*"
pyttsx3 = "*"
playsound = "*"
minecraft-launcher-lib = "*"
korcen = "*"
speechrecognition = "*"
pyaudio = "*"

[dev-packages]

[requires]
python_version = "3.10"
